body {
    background-color: white;
}
html,body {
  margin: 0;
}
#tab_bar {
    height: 70px;
    width: 1366px;
    background:white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
.menu:link, .menu:hover, .menu:active {
    background:white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.menu:link {
    padding: 18px 50px;
    position: relative;
    top: 25px;
    left: 710px;
}
.menu:hover {
    background-color: orange;
}
.menu:active {
    background-color: white;
}
.background_tittle {
    background: url("cover_page3.jpg");
    height: 400px;
    border: 2px solid black;
}
.tittle {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.473);
    height: 150px;
    margin-top: 120px;
    font-size: 43px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.font_tittle {
    padding-top: 18px;
}
#deskripsi_login {
    padding-top: 5px;
    padding-bottom: 40px;
    background-color: coral;
    text-align: center;
    font-size: 40px;
}
.button1 {
    width: 100px;
    height: 50px; 
    font-size: 20px;
}
#login {
    border: 2px solid black;
    margin: 100px;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: rgb(255, 237, 198);
}
.login2 {
    font-size: 20px;
}
.login3 { 
    font-size: 15px;
}